$black: #1c1c1c;
$white: #f3f3f3;
$blue: #2E68F6;
$yellow: #FFF3D9;
$bg-color: #FDF9EF;
$blue-off: #2e67f630;

$title-color: $blue;
$text-color: $blue;
$text-color-2: $blue;

$box-s: 0 20px 80px 0 rgb(0 0 0 / 45%);

$second-ff: 'Satoshi Light', Arial, Helvetica, sans-serif;
$main-ff: 'Melodrama', Arial, Helvetica, sans-serif;

$main-font: 300 18px/1.2 $second-ff;
$h1-font: 500 70px/1.2 $main-ff;
$h2-font: 500 60px/1.2 $main-ff;
$h3-font: 300 18px/1.2 $second-ff;

$trs: all 0.3s;
$letter-spc: -0.36em;

@mixin bottom {
 position: absolute;
 right: 0;
 left: 0;
}