.header2 {
    padding: 50px 20px;
    letter-spacing: $letter-spc;

    &__about {
        width: 100%;
        padding: 0 30px 0;
        display: flex;
        letter-spacing: normal;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    } 

    &__title {
        text-align: center;
        font: $h2-font;
        padding-bottom: 40px;
    }

    &__descr {
        text-align: center;
    }

    &__links {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        padding: 30px;
    }

    &__btn {
        z-index: 9999;
	    cursor: pointer;
	    height: 80px;
	    width: 80px;
	    color: $blue;
	    border-radius: 5px;
	    background: $yellow;
	    transition: $trs;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
            transform: scale(1.02);
        }
    }
}

#phone svg,
#email svg,
#resume svg {
    fill: $blue;
}

@media(max-width: 425px) {

    .header2__links {
        padding-top: 50px;
    }
}