.contact {
  padding-bottom: 50px;
}

.background {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: $white;
  min-height: 95vh;
}

.text {
  display: block;
  overflow: hidden;
  letter-spacing: normal;
}

.text-title {
  text-align: center;
  margin: 20px 0 30px;
  font: $h2-font;
}

.screen {
  position: relative;
  background: rgba($black, 0.9);
  min-width: 800px;
  border-radius: 3px;
  box-shadow: $box-s;
}

.screen:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 20px;
  right: 20px;
  bottom: 0;
  border-radius: 15px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, .4);
  z-index: -1;
}

.screen-header {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background: $black;
  border-radius: 3px;
}

.screen-header-left {
  margin-right: auto;
}

.screen-header-button {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-right: 3px;
  border-radius: 8px;
  background: $white;
}

.screen-header-button.close {
  background: $blue;
}

.screen-header-button.maximize {
  background: $blue;
}

.screen-header-button.minimize {
  background: $blue;
}

.screen-header-right {
  display: flex;
}

.screen-header-ellipsis {
  width: 3px;
  height: 3px;
  margin-left: 2px;
  border-radius: 8px;
  background: #999;
}

.screen-body {
  display: flex;
}

.screen-body-item {
  flex: 1;
  padding: 50px;
}

.screen-body-item.left {
  display: flex;
  flex-direction: column;
}

.app-title {
  display: flex;
  flex-direction: column;
  position: relative;
  color: $blue;
  font-size: 26px;
}

.app-title:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 35px;
  height: 4px;
  background:$blue;
}

.app-contact {
  margin-top: auto;
  font-size: 10px;
  color: $white;
}

.app-form-group {
  margin-bottom: 15px;
}

.app-form-group.message {
  margin-top: 40px;
}

.app-form-group.buttons {
  margin-bottom: 0;
  text-align: right;
}

.app-form-control {
  width: 100%;
  padding: 10px 0;
  background: none;
  border: none;
  border-bottom: 1px solid #666;
  color: $white;
  font-size: 14px;
  text-transform: uppercase;
  outline: none;
  transition: border-color .2s;
}

.app-form-control::placeholder {
  color: #666;
}

.app-form-control:focus {
  border-bottom-color: $white;
}

.app-form-button {
  background: none;
  border: 1px solid $blue;
  border-radius: 3px;
  padding: 5px;
  color: $blue;
  font-size: 15px;
  cursor: pointer;
}

.app-form-button:hover {
  background-color: $blue;
  color: $white;
}

@media screen and (max-width: 520px) {
  .screen-body {
    flex-direction: column;
  }

  .screen-body-item.left {
    margin-bottom: 30px;
  }

  .app-title {
    flex-direction: row;
  }

  .app-title span {
    margin-right: 12px;
  }

  .app-title:after {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .screen-body {
    padding: 40px;
  }

  .screen-body-item {
    padding: 0;
  }
}