.footer {
    padding: 50px 20px 0;
    background-color: $blue;
    width: 100%;

    &__wrap {
        margin: 0 auto;
    }

    &__logo {
        z-index: 1;
        line-height: 0;
        text-align: center;
    }

    &__socials {
        width: 100%;
        padding-top: 30px;

        ul {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
        }

        li {
            padding: 0 20px;
            z-index: 9999;
        }
    }

    &__contact {
        padding: 40px 0 20px;
        color: $yellow;
        text-align: center;
    }
}