.header {
    padding-bottom: 30px;
    background-color: $bg-color;
    padding: 0 20px;

    &__wrap {
        height: 100vh;
        display: flex;
        flex-direction: column;
    }

    &__nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        margin: 20px 0;
        line-height: 0;

        &-link {
            display: block;
            position: relative;
            overflow: hidden;
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: $white;
        margin-top: 190px;
    }

    &__title {
        color: $blue;
        font: $h1-font;
        padding-bottom: 20px;
    }

    &__descr {
        color: $blue;
        font: $h1-font;
        position: relative;
        margin-bottom: 30px;
        font-size: 30px;
    }

    &__text {
        padding-top: 50px;
        color: $blue;
        font: $main-font;
    }

    &__socials {
        position: absolute;
        right: 5%;
        bottom: 0;

        svg {
            width: 25px;
            display: block;
            margin: 25px 5px;
            transition: $trs;
            color: $blue;
        }
    }
}

.line {
    height: 2px;
    width: 35px;
    margin: 0.5rem 0;
    background: $blue;
    transition: transform 0.75s ease, opacity 0.75s ease;
}

.header__nav.show .line1 {
    transform: translate(-10px) rotate(45deg) translate(15px);
}

.header__nav.show .line2 {
    opacity: 0;
}

.header__nav.show .line3 {
    transform: translate(-10px) rotate(-45deg) translate(15px);
}

.header__nav.show .header__nav-list {
    transform: translateX(0%);
}

@media screen and (max-width: 800px) {
    .header__nav-list {
        width: 60%;
    }
}

.circle {
    position: absolute;
    width: 30px;
    height: 30px;
    border: 1px solid $blue;
    border-radius: 15px;
}
canvas {
  position: fixed;
}

@media(max-width: 768px) {
    .header__scroll {
        top: 490px
    }
}

@media(max-width: 495px) {
    .header__info {
        margin-top: 50px;
    }
}

@media(max-width: 425px) {
    .header__title {
        width: 100%;
        padding-bottom: 20px;
    }

    .header__info {
        margin-top: 50px;
    }

    .header__socials {
        top: 79%;
    }
}

@media(max-width: 375px) {
    .header__title {
        font-size: 50px;
    }
}

@media(max-width: 320px) {
    .header__title {
        font-size: 28px;
    }
}