.main {
    padding: 50px 0;

    &__wrap {
        letter-spacing: $letter-spc;
        margin: 0 -15px;
        position: relative;
    }
    
    &__text {
        display: block;
        overflow: hidden;
        letter-spacing: normal;
        padding-bottom: 30px;

        &-title {
            text-align: center;
            margin: 20px 0;
            font: $h2-font;
        }

        &-descr {
            margin: 30px 0;
            font-size: 20px;
            text-align: center;
        }
    }

    &__card {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        column-gap: 10px;
        margin-bottom: 10px;
    }

    &__item {
        width: 45%;

        &-img {
            display: block;
            position: relative;
            margin-left: auto;
            margin-right: auto;
            background-size: cover;
            width: 100%;
            opacity: 1;
            height: 100%;
            background-position: 50%;
            box-shadow: $box-s;
            transition: all .3s ease;

            &-image {
                filter: brightness(50%);
                z-index: -99;
            }

            span {
                position: absolute;
                visibility: hidden;
                opacity: 0;
                letter-spacing: normal;
                top: -50px;
                right: -33px;
                font: $h1-font;
                font-size: 140px;
                font-weight: 600;
                z-index: 99;
                color: $blue;
                transform: $trs;
            }

            &:hover::before {
                transform: scaleX(0);
                transform-origin: bottom right;
            }

            &:hover::before {
                transform: scaleX(1);
                transform-origin: bottom left;
            }

            &:hover span {
                visibility: visible;
                opacity: 1;
                transform: scale(1.1);
            }
        }

        &-text {
            letter-spacing: normal;
            display: flex;
            flex-direction: column;
            justify-content: center;
            z-index: 99;
            transition: $trs;
            padding-left: 30px;
            position: absolute;
            bottom: 30px;

            &-title {
                color: $yellow;
                font: $h2-font;
            }

            &-descr {
                padding: 10px 0;
                color: $white;
                font-size: 20px;
                font-style: italic;
            }
        }
    } 
}

@media(max-width: 1024px) {
    .main__item-img {
        width: 82%;
    }
}

@media(max-width: 769px) {
    .main__text-descr {
        padding: 0 20px;
        width: 100%;
    }

    .main__item-img img {
        width: 100%;
    }

    .main__item-text-title {
        font-size: 35px;
    }

    .main__item {
        width: 100%;
    }

    .main__card {
        display: flex;
        flex-direction: row;
        row-gap: 30px;
        column-gap: 30px;
    }

    .main__item-text {
        display: flex;
        flex-direction: column;
    }
}

@media(max-width: 495px) {
    .main__item-img img {
        width: 100%;
    }

    .main__item-text-title {
        font-size: 35px;
    }

    .main__item {
        width: 100%;
        height: 240px;
    }

    .main__card {
        display: flex;
        flex-direction: row;
        row-gap: 20px;
        column-gap: 20px;
    }

    .main__item-text {
        display: flex;
        flex-direction: column;
    }
}

@media(max-width: 430px) {
    .main__item-img img {
        width: 100%;
    }
    
    .main__item-text-title {
        font-size: 30px;
    }
    
    .main__item {
        width: 100%;
        height: 240px;
    }
    
    .main__card {
        display: flex;
        flex-direction: row;
        row-gap: 20px;
        column-gap: 20px;
    }
    
    .main__item-text {
        display: flex;
        flex-direction: column;
    }
}

@media(max-width: 425px) {
    .main__item-img img {
        width: 100%;
    }

    .main__item-text-title {
        font-size: 30px;
    }

    .main__item {
        width: 100%;
        height: 240px;
    }

    .main__card {
        display: flex;
        flex-direction: row;
        row-gap: 20px;
    }

    .main__item-text {
        display: flex;
        flex-direction: column;
    }

}