.skills {
    padding: 50px 20px;
    background-color: $blue;

    &__wrap {
        width: 100%;
	    text-align: center;
    }

    &__info {
        display: block;
        overflow: hidden;
        letter-spacing: normal;
    }

    &__title {
        text-align: center;
        padding-bottom: 20px;
        font-size: 45px;
        font: $h2-font;
        color: $yellow;
    }

    &__block {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    &__element {
        padding: 20px;
    }
}