.skills {
    padding: 20px 0;
    background-color: #000;
    background-image: radial-gradient(circle at top right, rgba(121, 68, 154, 0.13),transparent),radial-gradient(circle at 20% 80%, rgba(41, 196, 255, 0.13), transparent);

    &__wrap {
        width: 90%;
	    max-width: 900px;
	    margin: 10px auto;
	    text-align: center;
    }

    &__info {
        display: block;
        overflow: hidden;
        letter-spacing: normal;
    }

    &__title {
        text-align: center;
        margin-bottom: 20px;
        font-size: 45px;
        color: $text-color-2;
    }

    &__block {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    &__badge {
        margin: 10px;
	    width: 6.4em;
	    height: 6.4em;
	    border-radius: 20%;
	    display: inline-block;
	    top: 0;
	    transition: all 0.2s ease;
        box-shadow: 8px 10px 12px 3px rgba(0, 0, 0, 0.43);
        transition: $trs;
        z-index: 9;

        &:hover {
            transform: scale(1.05);
        }
    }

    &__rounded {
        width: 70px;
	    height: 70px;
        background: $white;
        position: absolute;
        margin: 29px;
        z-index: 10;
	    border-radius: 30%;
        box-shadow: 8px 8px 8px 2px rgba(0, 0, 0, 0.23);

        img {
            position: absolute;
            display: inline-block;
            top: 22%;
            left: 22%;
        }
    }
}

.blue {
    background: dodgerblue;
    color: deepskyblue;
}

.orange {
    background: $orange;
    color: $orange;
}

.gold {
    background: $yellow;
    color: $yellow;
}

.pink {
    background: $pink;
    color: $pink;
}

.grey {
    background: $grey;
    color: $grey;
}

.purple {
    background: $purple;
    color: $purple;
}

.dark-blue {
    background: $dark-blue;
    color: $dark-blue;
}

.green {
    background: $green;
    color: $green;
}

@media(max-width: 768px) {
    .skills__wrap {
        width: 768px;
    }
}

@media(max-width: 425px) {
    .skills__wrap {
        width: 425px;
    }
}

@media(max-width: 375px) {
    .skills__wrap {
        width: 375px;
    }
}

@media(max-width: 320px) {
    .skills__wrap {
        width: 320px;
    }
}