@import './common/vars.scss';

@import './components/base.scss';
@import './components/buttons.scss';
@import './components/header.scss';
@import './components/main.scss';
@import './components/skills.scss';
@import './components/footer.scss';
@import './components/button-top.scss';
@import './components/about-me.scss';
@import './components/contact.scss';
@import './components/projects.scss';

@font-face {
    font-family: 'Melodrama';
    src: url(/fonts/Melodrama-Medium.ttf);
    src: url(/fonts/Melodrama-Regular.ttf);
    src: url(/fonts/Melodrama-Semibold.ttf);
}

@font-face {
    font-family: 'Satoshi Light';
    src: url(/fonts/Satoshi-Light.ttf);
}