@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;0,400;0,500;0,700;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600&display=swap");
* {
  box-sizing: border-box;
}
*:before, *:after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font: 400 20px/1.6 "Josefin Sans", Arial, Helvetica, sans-serif;
  color: rgba(0, 0, 0, 0.9);
  background-color: #fff;
}

ul, ol, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1, h2, h3, h4, h5, h6, p, span {
  margin: 0;
}

a {
  text-decoration: none;
  color: #000;
  transition: all 0.3s;
}

.wrapper {
  overflow: hidden;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.container2 {
  margin: 0 auto;
}

.btn {
  font-family: "Josefin Sans", Arial, Helvetica, sans-serif;
  font-size: 18px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  width: 175px;
  height: 50px;
  font-weight: 500;
  border-radius: 10px 10px;
  padding: 5px 5px;
  border: 1px solid #00a1ff;
  color: #000;
  background-color: #fff;
  transition: all 0.3s;
}
.btn-items {
  font-family: "Josefin Sans", Arial, Helvetica, sans-serif;
  font-size: 15px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  width: 145px;
  height: 40px;
  font-weight: 500;
  border-radius: 10px 10px;
  padding: 5px 5px;
  border: 1px solid #00a1ff;
  color: #fff;
  background-color: #00a1ff;
  transition: all 0.3s;
}
.btn-items:hover {
  box-shadow: 0px 7px 10px rgba(0, 26, 255, 0.301);
  background-color: #fff;
  color: #000;
}
.btn:hover {
  box-shadow: 0px 7px 10px rgba(0, 26, 255, 0.301);
  background-color: #00a1ff;
  color: #fff;
}

#btn-contact {
  cursor: pointer;
}

.header {
  padding-bottom: 30px;
  background-color: #000;
  background-image: radial-gradient(circle at top right, rgba(121, 68, 154, 0.13), transparent), radial-gradient(circle at 20% 80%, rgba(41, 196, 255, 0.13), transparent);
}
.header__wrap {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__nav-list {
  display: flex;
}
.header__nav-item {
  padding: 0 25px;
}
.header__nav-item-link {
  position: relative;
  color: #fff;
  font-family: "Josefin Sans", Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 600;
}
.header__nav-item-link:before {
  position: absolute;
  content: "";
  left: 0;
  bottom: -3px;
  width: 0;
  height: 2px;
  background-color: #00a1ff;
  transition: all 0.3s;
}
.header__nav-item-link:hover::before {
  width: 50%;
}
.header__nav-item-link:after {
  position: absolute;
  content: "";
  right: 0;
  bottom: -3px;
  width: 0;
  height: 2px;
  background-color: #00a1ff;
  transition: all 0.3s;
}
.header__nav-item-link:hover::after {
  width: 50%;
}
.header__logo {
  margin: 20px 0;
  line-height: 0;
}
.header__logo-link {
  display: block;
  position: relative;
  overflow: hidden;
}
.header__info {
  flex-grow: 1;
  position: absolute;
  padding-bottom: 35px;
  top: 40%;
  color: #fff;
}
.header__title {
  margin-bottom: 30px;
  max-width: 575px;
  height: 50px;
  width: 22ch;
  font: 600 50px/0.9 "Josefin Sans", Arial, Helvetica, sans-serif;
  animation: write 2s steps(19), blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
}
.header__descr {
  margin-bottom: 30px;
  max-width: 210px;
  font-size: 18px;
  font-style: italic;
  transition: all 0.3s;
}
.header__descr:hover {
  color: #00a1ff;
}
.header__button {
  display: flex;
  margin: 0 0 20px;
}
.header__socials {
  position: absolute;
  right: 5%;
  bottom: 35%;
}
.header__socials svg {
  width: 25px;
  display: block;
  margin: 25px 5px;
  transition: all 0.3s;
  color: #fff;
}
.header__socials svg:hover {
  color: #910aff;
}
.header__scroll {
  position: relative;
  z-index: 1;
  left: 50%;
  bottom: -580px;
  width: 20px;
  height: 20px;
  transform: rotate(45deg);
}
.header__scroll span {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid #00a1ff;
  border-right: 2px solid #00a1ff;
  animation: animate 1s linear infinite;
}
.header__scroll span:nth-child(1) {
  top: -30px;
  left: -30px;
  animation-delay: 0s;
}
.header__scroll span:nth-child(2) {
  top: -15px;
  left: -15px;
  animation-delay: 0.3s;
}
.header__scroll span:nth-child(3) {
  top: 0;
  left: 0;
  animation-delay: 0.5s;
}
.header__scroll span:nth-child(4) {
  top: 15px;
  left: 15px;
  animation-delay: 0.7s;
}

@keyframes animate {
  0% {
    border-color: #ff84cc;
    transform: translate(0, 0);
  }
  20% {
    border-color: #910aff;
    transform: translate(15px, 15px);
  }
  100% {
    border-color: #00a1ff;
  }
}
@keyframes write {
  from {
    width: 0;
  }
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}
.circle {
  position: absolute;
  width: 30px;
  height: 30px;
  border: 1px solid #00a1ff;
  border-radius: 15px;
}

canvas {
  position: fixed;
}

.main {
  padding: 50px 0;
  background-color: #f3f3f3;
}
.main__wrap {
  letter-spacing: -0.36em;
  margin: 0 -15px;
  position: relative;
}
.main__text {
  display: block;
  overflow: hidden;
  letter-spacing: normal;
}
.main__text-title {
  text-align: center;
  margin: 20px 0;
  font: 600 40px/1.3 "Josefin Sans", Arial, Helvetica, sans-serif;
}
.main__text-descr {
  margin: 30px 0;
  font-weight: 300;
  font-size: 20px;
  text-align: center;
}
.main__item {
  margin: 30px 0 120px;
}
.main__item-img {
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
  background-repeat: no-repeat;
  width: 72%;
  opacity: 1;
  height: 480px;
  background-position: 50%;
  box-shadow: 0 20px 80px 0 rgba(0, 0, 0, 0.45);
  transition: all 0.35s ease;
}
.main__item-img-image {
  filter: brightness(50%);
  z-index: -99;
}
.main__item-img span {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  letter-spacing: normal;
  top: -50px;
  right: -33px;
  font-size: 140px;
  font-weight: 600;
  z-index: 99;
  color: #fff;
  transform: all 0.3s;
}
.main__item-img:hover::before {
  transform: scaleX(0);
  transform-origin: bottom right;
}
.main__item-img:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.main__item-img:before {
  content: " ";
  transform-origin: bottom right;
  display: block;
  position: absolute;
  background: linear-gradient(90deg, rgba(6, 0, 120, 0.587272409) 0%, rgba(9, 9, 121, 0.6236869748) 2%, rgba(0, 170, 255, 0.5396533613) 100%);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  inset: 0 0 0 0;
  transition: transform 0.3s ease;
  transform: scaleX(0);
  z-index: 99;
}
.main__item-img:hover span {
  visibility: visible;
  opacity: 1;
  transform: scale(1.1);
}
.main__item-text {
  letter-spacing: normal;
  display: block;
  position: absolute;
  top: 60%;
  left: 5%;
  z-index: 99;
  transition: all 0.3s;
}
.main__item-text-title {
  color: #fff;
  font: 600 40px/1.3 "Josefin Sans", Arial, Helvetica, sans-serif;
}
.main__item-text-descr {
  padding: 10px 0;
  color: #fff;
  font-size: 20px;
  font-style: italic;
}
.main__item-text-btn {
  padding-top: 10px;
}
.main__item-text:hover {
  transform: scale(1.05);
}

.skills {
  padding: 20px 0;
  background-color: #000;
  background-image: radial-gradient(circle at top right, rgba(121, 68, 154, 0.13), transparent), radial-gradient(circle at 20% 80%, rgba(41, 196, 255, 0.13), transparent);
}
.skills__wrap {
  width: 90%;
  max-width: 900px;
  margin: 10px auto;
  text-align: center;
}
.skills__info {
  display: block;
  overflow: hidden;
  letter-spacing: normal;
}
.skills__title {
  text-align: center;
  margin-bottom: 20px;
  font: 600 40px/1.3 "Josefin Sans", Arial, Helvetica, sans-serif;
  color: #fff;
}
.skills__badge {
  margin: 1.5em 3em;
  width: 6.4em;
  height: 6.4em;
  border-radius: 20%;
  display: inline-block;
  top: 0;
  transition: all 0.2s ease;
  box-shadow: 8px 10px 12px 3px rgba(0, 0, 0, 0.43);
  transition: all 0.3s;
}
.skills__badge:hover {
  transform: scale(1.1);
}
.skills__rounded {
  width: 70px;
  height: 70px;
  background: #fff;
  position: absolute;
  margin: 29px;
  z-index: 10;
  border-radius: 30%;
  box-shadow: 8px 8px 8px 2px rgba(0, 0, 0, 0.23);
}
.skills__rounded img {
  position: absolute;
  display: inline-block;
  top: 22%;
  left: 22%;
}

.blue {
  background: dodgerblue;
  color: deepskyblue;
}

.orange {
  background: #ee9002;
  color: #ee9002;
}

.gold {
  background: #ffe600;
  color: #ffe600;
}

.pink {
  background: #ff84cc;
  color: #ff84cc;
}

.purple {
  background: #910aff;
  color: #910aff;
}

.footer {
  padding: 6% 0;
  background-color: #fff;
  width: 100%;
}
.footer__wrap {
  margin: 0 auto;
  width: 1000px;
}
.footer__logo {
  z-index: 1;
  line-height: 0;
  text-align: center;
}
.footer__logo-link {
  display: block;
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
}
.footer__socials {
  position: relative;
  width: 100%;
  text-align: center !important;
}
.footer__links {
  display: block;
  padding: 0;
  margin: 10px 0;
  text-align: center;
}
.footer__links li {
  display: inline-block;
  padding: 0 20px;
  transition: all 0.3s;
}
.footer__links li svg:hover {
  color: #ff84cc;
}
.footer__contact {
  margin: 20px 0;
}

.contact-link {
  position: relative;
}
.contact-link:before {
  position: absolute;
  content: "";
  left: 0;
  bottom: -3px;
  width: 0;
  height: 2px;
  background-color: #00a1ff;
  transition: all 0.3s;
}
.contact-link:hover::before {
  width: 50%;
}
.contact-link:after {
  position: absolute;
  content: "";
  right: 0;
  bottom: -3px;
  width: 0;
  height: 2px;
  background-color: #00a1ff;
  transition: all 0.3s;
}
.contact-link:hover::after {
  width: 50%;
}

#btn_back-to-top {
  position: fixed;
  bottom: 30px;
  right: 35px;
  width: 40px;
  height: 40px;
  background-color: transparent;
  display: none;
}
#btn_back-to-top:hover {
  background-color: #00a1ff;
}
#btn_back-to-top span {
  color: #00a1ff;
}
#btn_back-to-top span svg {
  position: absolute;
  top: 4px;
  left: 11%;
}
#btn_back-to-top:hover span {
  color: #fff;
}

.header2__wrap {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.header2__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  padding: 0 137px;
  background-color: #000;
  background-image: radial-gradient(circle at top right, rgba(121, 68, 154, 0.13), transparent), radial-gradient(circle at 20% 80%, rgba(41, 196, 255, 0.13), transparent);
}
.header2__nav-list {
  display: flex;
}
.header2__nav-item {
  padding: 0 25px;
}
.header2__nav-item-link {
  position: relative;
  color: #fff;
  font-family: "Josefin Sans", Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 600;
}
.header2__nav-item-link:before {
  position: absolute;
  content: "";
  left: 0;
  bottom: -3px;
  width: 0;
  height: 2px;
  background-color: #00a1ff;
  transition: all 0.3s;
}
.header2__nav-item-link:hover::before {
  width: 50%;
}
.header2__nav-item-link:after {
  position: absolute;
  content: "";
  right: 0;
  bottom: -3px;
  width: 0;
  height: 2px;
  background-color: #00a1ff;
  transition: all 0.3s;
}
.header2__nav-item-link:hover::after {
  width: 50%;
}
.header2__logo {
  z-index: 1;
  line-height: 0;
}
.header2__logo-link {
  display: block;
  position: relative;
  overflow: hidden;
  margin: 10px 0;
}
.header2__wrap2 {
  letter-spacing: -0.36em;
  margin: 30px 50px;
}
.header2__col {
  width: 50%;
  padding: 0 30px 0;
  display: inline-block;
  letter-spacing: normal;
  vertical-align: middle;
}
.header2__info {
  margin: 0 20px;
  background-color: transparent;
}
.header2__title {
  margin-top: 60px;
  text-align: left;
  position: relative;
  overflow: hidden;
  display: block;
  font: 600 50px/0.9 "Josefin Sans", Arial, Helvetica, sans-serif;
}
.header2__title::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #ff84cc;
  animation: a-ltr-after 1s cubic-bezier(0.77, 0, 0.18, 1) forwards;
  transform: translateX(-101%);
}
.header2__title::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  animation: a-ltr-before 1s cubic-bezier(0.77, 0, 0.18, 1) forwards;
  transform: translateX(0);
}
.header2__title:nth-of-type(1)::before, .header2__title:nth-of-type(1)::after {
  animation-delay: 0.2s;
}
.header2__title:nth-of-type(1)::before, .header2__title:nth-of-type(1)::after {
  animation-delay: 0.8s;
}
.header2__descr {
  max-width: 500px;
  margin: 60px 0;
  font-size: 18px;
  transition: all 0.3s;
}
.header2__bg-text {
  position: relative;
  text-align: right;
  z-index: -1;
  bottom: 300px;
  left: 10%;
  height: 170px;
  width: 495px;
  font-size: 150px;
  color: rgba(0, 0, 0, 0.1);
}
.header2__links {
  display: block;
}
.header2__btn {
  cursor: pointer;
  height: 50px;
  width: 50px;
  color: rgba(0, 0, 0, 0.9);
  border-radius: 10px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  background: #fff;
  margin: 30px;
  transition: 1s;
}
.header2__btn a, .header2__btn span {
  width: 0px;
  overflow: hidden;
  transition: all 0.3s;
  text-align: center;
}
.header2__btn:hover {
  width: 350px;
  border-radius: 5px;
}
.header2__btn:hover a, .header2__btn:hover span {
  padding: 10px;
  width: max-content;
}
.header2__bg-text2 {
  position: relative;
  text-align: right;
  z-index: -1;
  bottom: 330px;
  left: 6%;
  height: 170px;
  width: 495px;
  font-size: 150px;
  color: rgba(0, 0, 0, 0.1);
}
.header2__socials {
  z-index: 1;
  position: absolute;
  right: 5%;
  bottom: 35%;
}
.header2__socials svg {
  width: 25px;
  display: block;
  margin: 25px 5px;
  transition: all 0.3s;
}
.header2__socials svg:hover {
  color: #910aff;
}

.prefooter {
  padding: 6% 0;
  width: 100%;
  background-color: mistyrose;
}
.prefooter__wrap {
  padding: 80px 0;
  display: flex;
  position: relative;
}
.prefooter__item1 {
  font-size: 20px;
  font-style: italic;
  position: absolute;
  top: 10px;
  left: 55px;
}
.prefooter__item2 {
  font-size: 20px;
  font-style: italic;
  position: absolute;
  top: 140px;
  left: 200px;
}
.prefooter__item3 {
  font-size: 20px;
  font-style: italic;
  position: absolute;
  top: 75px;
  right: 90px;
}
.prefooter__item1 p, .prefooter__item2 p, .prefooter__item3 p {
  opacity: 0;
  animation: appear-text 0.0001s linear forwards;
  animation-delay: 1.4s;
}
.prefooter__item1::after, .prefooter__item2::after, .prefooter__item3::after {
  content: "";
  top: 0;
  left: 0;
  position: absolute;
  width: 0%;
  height: 100%;
  background: #ff84cc;
  animation: rev-block 1.5s cubic-bezier(0.2, 1, 0.2, 1) forwards;
  animation-delay: 1s;
}

.footer2 {
  padding: 4% 0;
  width: 100%;
  background-color: #000;
  background-image: radial-gradient(circle at top right, rgba(121, 68, 154, 0.13), transparent), radial-gradient(circle at 20% 80%, rgba(41, 196, 255, 0.13), transparent);
}
.footer2__wrap {
  margin: 0 auto;
  width: 1000px;
}
.footer2__logo {
  z-index: 1;
  line-height: 0;
  text-align: center;
}
.footer2__logo-link {
  display: block;
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
}
.footer2__socials {
  position: relative;
  width: 100%;
  text-align: center !important;
  color: #fff;
}
.footer2__links {
  display: block;
  padding: 0;
  margin: 10px 0;
  text-align: center;
}
.footer2__links li {
  display: inline-block;
  padding: 0 20px;
  transition: all 0.3s;
}
.footer2__links li a svg {
  color: #fff;
}
.footer2__links li a svg:hover {
  color: #ff84cc;
}
.footer2__contact {
  margin: 20px 0;
}

.contact-link {
  position: relative;
  color: #fff;
}
.contact-link:before {
  position: absolute;
  content: "";
  left: 0;
  bottom: -3px;
  width: 0;
  height: 2px;
  background-color: #00a1ff;
  transition: all 0.3s;
}
.contact-link:hover::before {
  width: 50%;
}
.contact-link:after {
  position: absolute;
  content: "";
  right: 0;
  bottom: -3px;
  width: 0;
  height: 2px;
  background-color: #00a1ff;
  transition: all 0.3s;
}
.contact-link:hover::after {
  width: 50%;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

#phone svg, #email svg, #location svg {
  fill: #ff84cc;
}

@keyframes a-ltr-after {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(101%);
  }
}
@keyframes a-ltr-before {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(200%);
  }
}
@keyframes rev-block {
  0% {
    left: 0;
    width: 0%;
  }
  50% {
    left: 0;
    width: 100%;
  }
  100% {
    left: 100%;
    width: 0%;
  }
}
@keyframes appear-text {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  position: relative;
  margin: auto;
  z-index: 1000;
  padding: 0;
  width: 95%;
  max-width: 60rem;
  max-height: 33rem;
  overflow: hidden;
  border-radius: 2px;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  background: #fff;
  -webkit-box-shadow: 0px 0px 19px 3px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0px 0px 19px 3px rgba(0, 0, 0, 0.08);
  box-shadow: 0px 0px 19px 3px rgba(0, 0, 0, 0.08);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal-content-left,
.modal-content-right {
  flex: 0 1 auto;
}

.modal-content-left {
  flex: 2;
}

.modal-content-left img {
  z-index: 10;
  width: 40rem;
  max-width: 95%;
  margin: 0;
  padding: 0;
  display: block;
  border-radius: 2px;
}

.modal-content-right {
  flex: 2;
  max-width: 100%;
  padding: 1rem 3rem;
}

@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
.close,
.close-imp {
  color: #000;
  font-size: 2rem;
  padding: 0 1rem;
  border-radius: 2px;
  transition: 0.4s ease-out;
}

.close:hover,
.close:focus,
.close-imp:hover,
.close-imp:focus {
  color: #00a1ff;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

fieldset {
  display: block;
  margin: 2px;
  border: 1px solid #00a1ff;
  border-radius: 5px 5px;
}
fieldset input {
  text-rendering: auto;
  color: rgba(0, 0, 0, 0.9);
  display: inline-block;
  text-align: start;
  appearance: none;
  cursor: text;
  background-color: #fff;
  border: none;
}
fieldset textarea {
  display: inline-block;
  text-rendering: auto;
  text-align: start;
  cursor: text;
  overflow-wrap: break-word;
  column-count: initial !important;
  background-color: #fff;
  color: rgba(0, 0, 0, 0.9);
  border: none;
}
fieldset:nth-child(7) {
  border: none;
}

/*# sourceMappingURL=style.css.map */
