* {
  box-sizing: border-box;
}
*:before, *:after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font: 300 18px/1.2 "Satoshi Light", Arial, Helvetica, sans-serif;
  color: #2E68F6;
  background-color: #FDF9EF;
}

ul, ol, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1, h2, h3, h4, h5, h6, p, span {
  margin: 0;
}

a {
  text-decoration: none;
  color: #2E68F6;
  transition: all 0.3s;
}

.wrapper {
  overflow: hidden;
}

.container {
  max-width: 1270px;
  margin: 0 auto;
}

.container2 {
  margin: 0 auto;
}

.btn {
  font-family: "Melodrama", Arial, Helvetica, sans-serif;
  font-size: 18px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  width: 175px;
  height: 50px;
  font-weight: 500;
  border-radius: 10px 10px;
  padding: 5px 5px;
  border: 1px solid #2E68F6;
  color: #1c1c1c;
  background-color: #f3f3f3;
  transition: all 0.3s;
}
.btn-items {
  font-family: "Melodrama", Arial, Helvetica, sans-serif;
  font-size: 15px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  width: 145px;
  height: 40px;
  font-weight: 500;
  border-radius: 10px 10px;
  padding: 5px 5px;
  border: 1px solid #2E68F6;
  color: #f3f3f3;
  background-color: #2E68F6;
  transition: all 0.3s;
}
.btn-items:hover {
  box-shadow: 0px 7px 10px rgba(0, 26, 255, 0.301);
  background-color: #f3f3f3;
  color: #1c1c1c;
}
.btn:hover {
  box-shadow: 0px 7px 10px rgba(0, 26, 255, 0.301);
  background-color: #2E68F6;
  color: #f3f3f3;
}

#btn-contact {
  cursor: pointer;
}

.header {
  padding-bottom: 30px;
  background-color: #FDF9EF;
  padding: 0 20px;
}
.header__wrap {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  margin: 20px 0;
  line-height: 0;
}
.header__logo-link {
  display: block;
  position: relative;
  overflow: hidden;
}
.header__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #f3f3f3;
  margin-top: 190px;
}
.header__title {
  color: #2E68F6;
  font: 500 70px/1.2 "Melodrama", Arial, Helvetica, sans-serif;
  padding-bottom: 20px;
}
.header__descr {
  color: #2E68F6;
  font: 500 70px/1.2 "Melodrama", Arial, Helvetica, sans-serif;
  position: relative;
  margin-bottom: 30px;
  font-size: 30px;
}
.header__text {
  padding-top: 50px;
  color: #2E68F6;
  font: 300 18px/1.2 "Satoshi Light", Arial, Helvetica, sans-serif;
}
.header__socials {
  position: absolute;
  right: 5%;
  bottom: 0;
}
.header__socials svg {
  width: 25px;
  display: block;
  margin: 25px 5px;
  transition: all 0.3s;
  color: #2E68F6;
}

.line {
  height: 2px;
  width: 35px;
  margin: 0.5rem 0;
  background: #2E68F6;
  transition: transform 0.75s ease, opacity 0.75s ease;
}

.header__nav.show .line1 {
  transform: translate(-10px) rotate(45deg) translate(15px);
}

.header__nav.show .line2 {
  opacity: 0;
}

.header__nav.show .line3 {
  transform: translate(-10px) rotate(-45deg) translate(15px);
}

.header__nav.show .header__nav-list {
  transform: translateX(0%);
}

@media screen and (max-width: 800px) {
  .header__nav-list {
    width: 60%;
  }
}
.circle {
  position: absolute;
  width: 30px;
  height: 30px;
  border: 1px solid #2E68F6;
  border-radius: 15px;
}

canvas {
  position: fixed;
}

@media (max-width: 768px) {
  .header__scroll {
    top: 490px;
  }
}
@media (max-width: 495px) {
  .header__info {
    margin-top: 50px;
  }
}
@media (max-width: 425px) {
  .header__title {
    width: 100%;
    padding-bottom: 20px;
  }

  .header__info {
    margin-top: 50px;
  }

  .header__socials {
    top: 79%;
  }
}
@media (max-width: 375px) {
  .header__title {
    font-size: 50px;
  }
}
@media (max-width: 320px) {
  .header__title {
    font-size: 28px;
  }
}
.main {
  padding: 50px 0;
}
.main__wrap {
  letter-spacing: -0.36em;
  margin: 0 -15px;
  position: relative;
}
.main__text {
  display: block;
  overflow: hidden;
  letter-spacing: normal;
  padding-bottom: 30px;
}
.main__text-title {
  text-align: center;
  margin: 20px 0;
  font: 500 60px/1.2 "Melodrama", Arial, Helvetica, sans-serif;
}
.main__text-descr {
  margin: 30px 0;
  font-size: 20px;
  text-align: center;
}
.main__card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 10px;
  margin-bottom: 10px;
}
.main__item {
  width: 45%;
}
.main__item-img {
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
  width: 100%;
  opacity: 1;
  height: 100%;
  background-position: 50%;
  box-shadow: 0 20px 80px 0 rgba(0, 0, 0, 0.45);
  transition: all 0.3s ease;
}
.main__item-img-image {
  filter: brightness(50%);
  z-index: -99;
}
.main__item-img span {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  letter-spacing: normal;
  top: -50px;
  right: -33px;
  font: 500 70px/1.2 "Melodrama", Arial, Helvetica, sans-serif;
  font-size: 140px;
  font-weight: 600;
  z-index: 99;
  color: #2E68F6;
  transform: all 0.3s;
}
.main__item-img:hover::before {
  transform: scaleX(0);
  transform-origin: bottom right;
}
.main__item-img:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.main__item-img:hover span {
  visibility: visible;
  opacity: 1;
  transform: scale(1.1);
}
.main__item-text {
  letter-spacing: normal;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 99;
  transition: all 0.3s;
  padding-left: 30px;
  position: absolute;
  bottom: 30px;
}
.main__item-text-title {
  color: #FFF3D9;
  font: 500 60px/1.2 "Melodrama", Arial, Helvetica, sans-serif;
}
.main__item-text-descr {
  padding: 10px 0;
  color: #f3f3f3;
  font-size: 20px;
  font-style: italic;
}

@media (max-width: 1024px) {
  .main__item-img {
    width: 82%;
  }
}
@media (max-width: 769px) {
  .main__text-descr {
    padding: 0 20px;
    width: 100%;
  }

  .main__item-img img {
    width: 100%;
  }

  .main__item-text-title {
    font-size: 35px;
  }

  .main__item {
    width: 100%;
  }

  .main__card {
    display: flex;
    flex-direction: row;
    row-gap: 30px;
    column-gap: 30px;
  }

  .main__item-text {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 495px) {
  .main__item-img img {
    width: 100%;
  }

  .main__item-text-title {
    font-size: 35px;
  }

  .main__item {
    width: 100%;
    height: 240px;
  }

  .main__card {
    display: flex;
    flex-direction: row;
    row-gap: 20px;
    column-gap: 20px;
  }

  .main__item-text {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 430px) {
  .main__item-img img {
    width: 100%;
  }

  .main__item-text-title {
    font-size: 30px;
  }

  .main__item {
    width: 100%;
    height: 240px;
  }

  .main__card {
    display: flex;
    flex-direction: row;
    row-gap: 20px;
    column-gap: 20px;
  }

  .main__item-text {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 425px) {
  .main__item-img img {
    width: 100%;
  }

  .main__item-text-title {
    font-size: 30px;
  }

  .main__item {
    width: 100%;
    height: 240px;
  }

  .main__card {
    display: flex;
    flex-direction: row;
    row-gap: 20px;
  }

  .main__item-text {
    display: flex;
    flex-direction: column;
  }
}
.skills {
  padding: 50px 20px;
  background-color: #2E68F6;
}
.skills__wrap {
  width: 100%;
  text-align: center;
}
.skills__info {
  display: block;
  overflow: hidden;
  letter-spacing: normal;
}
.skills__title {
  text-align: center;
  padding-bottom: 20px;
  font-size: 45px;
  font: 500 60px/1.2 "Melodrama", Arial, Helvetica, sans-serif;
  color: #FFF3D9;
}
.skills__block {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.skills__element {
  padding: 20px;
}

.footer {
  padding: 50px 20px 0;
  background-color: #2E68F6;
  width: 100%;
}
.footer__wrap {
  margin: 0 auto;
}
.footer__logo {
  z-index: 1;
  line-height: 0;
  text-align: center;
}
.footer__socials {
  width: 100%;
  padding-top: 30px;
}
.footer__socials ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.footer__socials li {
  padding: 0 20px;
  z-index: 9999;
}
.footer__contact {
  padding: 40px 0 20px;
  color: #FFF3D9;
  text-align: center;
}

#btn_back-to-top {
  position: fixed;
  bottom: 30px;
  right: 35px;
  width: 40px;
  height: 40px;
  background-color: #2E68F6;
  display: none;
}
#btn_back-to-top:hover {
  background-color: #FFF3D9;
}
#btn_back-to-top span {
  color: #f3f3f3;
}
#btn_back-to-top span svg {
  position: absolute;
  top: 4px;
  left: 11%;
}
#btn_back-to-top:hover span {
  color: #f3f3f3;
}

.header2 {
  padding: 50px 20px;
  letter-spacing: -0.36em;
}
.header2__about {
  width: 100%;
  padding: 0 30px 0;
  display: flex;
  letter-spacing: normal;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header2__title {
  text-align: center;
  font: 500 60px/1.2 "Melodrama", Arial, Helvetica, sans-serif;
  padding-bottom: 40px;
}
.header2__descr {
  text-align: center;
}
.header2__links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 30px;
}
.header2__btn {
  z-index: 9999;
  cursor: pointer;
  height: 80px;
  width: 80px;
  color: #2E68F6;
  border-radius: 5px;
  background: #FFF3D9;
  transition: all 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header2__btn:hover {
  transform: scale(1.02);
}

#phone svg,
#email svg,
#resume svg {
  fill: #2E68F6;
}

@media (max-width: 425px) {
  .header2__links {
    padding-top: 50px;
  }
}
.contact {
  padding-bottom: 50px;
}

.background {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #f3f3f3;
  min-height: 95vh;
}

.text {
  display: block;
  overflow: hidden;
  letter-spacing: normal;
}

.text-title {
  text-align: center;
  margin: 20px 0 30px;
  font: 500 60px/1.2 "Melodrama", Arial, Helvetica, sans-serif;
}

.screen {
  position: relative;
  background: rgba(28, 28, 28, 0.9);
  min-width: 800px;
  border-radius: 3px;
  box-shadow: 0 20px 80px 0 rgba(0, 0, 0, 0.45);
}

.screen:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 20px;
  right: 20px;
  bottom: 0;
  border-radius: 15px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
  z-index: -1;
}

.screen-header {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background: #1c1c1c;
  border-radius: 3px;
}

.screen-header-left {
  margin-right: auto;
}

.screen-header-button {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-right: 3px;
  border-radius: 8px;
  background: #f3f3f3;
}

.screen-header-button.close {
  background: #2E68F6;
}

.screen-header-button.maximize {
  background: #2E68F6;
}

.screen-header-button.minimize {
  background: #2E68F6;
}

.screen-header-right {
  display: flex;
}

.screen-header-ellipsis {
  width: 3px;
  height: 3px;
  margin-left: 2px;
  border-radius: 8px;
  background: #999;
}

.screen-body {
  display: flex;
}

.screen-body-item {
  flex: 1;
  padding: 50px;
}

.screen-body-item.left {
  display: flex;
  flex-direction: column;
}

.app-title {
  display: flex;
  flex-direction: column;
  position: relative;
  color: #2E68F6;
  font-size: 26px;
}

.app-title:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 35px;
  height: 4px;
  background: #2E68F6;
}

.app-contact {
  margin-top: auto;
  font-size: 10px;
  color: #f3f3f3;
}

.app-form-group {
  margin-bottom: 15px;
}

.app-form-group.message {
  margin-top: 40px;
}

.app-form-group.buttons {
  margin-bottom: 0;
  text-align: right;
}

.app-form-control {
  width: 100%;
  padding: 10px 0;
  background: none;
  border: none;
  border-bottom: 1px solid #666;
  color: #f3f3f3;
  font-size: 14px;
  text-transform: uppercase;
  outline: none;
  transition: border-color 0.2s;
}

.app-form-control::placeholder {
  color: #666;
}

.app-form-control:focus {
  border-bottom-color: #f3f3f3;
}

.app-form-button {
  background: none;
  border: 1px solid #2E68F6;
  border-radius: 3px;
  padding: 5px;
  color: #2E68F6;
  font-size: 15px;
  cursor: pointer;
}

.app-form-button:hover {
  background-color: #2E68F6;
  color: #f3f3f3;
}

@media screen and (max-width: 520px) {
  .screen-body {
    flex-direction: column;
  }

  .screen-body-item.left {
    margin-bottom: 30px;
  }

  .app-title {
    flex-direction: row;
  }

  .app-title span {
    margin-right: 12px;
  }

  .app-title:after {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .screen-body {
    padding: 40px;
  }

  .screen-body-item {
    padding: 0;
  }
}
.projects {
  padding: 30px;
}
.projects__col {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 30px;
}
.projects__card {
  width: 300px;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 15px 25px;
  margin: 10px 25px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.315);
  transition: all 0.3s;
}
.projects__card-img {
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
  background-repeat: no-repeat;
}
.projects__card-img-images {
  filter: brightness(50%);
}
.projects__card-img-images img {
  border-radius: 10px;
}
.projects__card-img-images:hover {
  filter: none;
}
.projects__card-text {
  background-color: #f3f3f3;
  border-radius: 0 0 10px 10px;
  display: flex;
  align-items: center;
  padding: 20px;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
}
.projects__card a {
  position: relative;
  color: #1c1c1c;
  top: -40%;
  font-weight: 700;
}
.projects__card:hover {
  transform: scale(1.05);
}
.projects__title {
  margin-top: 20px;
  text-align: center;
  position: relative;
  overflow: hidden;
  display: block;
}
.projects__title::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #2E68F6;
  animation: a-ltr-after 1s cubic-bezier(0.77, 0, 0.18, 1) forwards;
  transform: translateX(-101%);
}
.projects__title::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #f3f3f3;
  animation: a-ltr-before 1s cubic-bezier(0.77, 0, 0.18, 1) forwards;
  transform: translateX(0);
}
.projects__title:nth-of-type(1)::before, .projects__title:nth-of-type(1)::after {
  animation-delay: 0.2s;
}
.projects__title:nth-of-type(1)::before, .projects__title:nth-of-type(1)::after {
  animation-delay: 0.8s;
}
.projects__prefooter {
  font-size: 10px;
  font-weight: 500;
  text-align: center;
  padding: 30px;
}

@media (max-width: 768px) {
  .projects__card {
    margin: 10px 5px;
  }
}
@media (max-width: 425px) {
  .footer2__wrap {
    width: 425px;
  }
}
@media (max-width: 375px) {
  .projects__card {
    width: 265px;
  }

  .footer2__wrap {
    width: 375px;
  }

  .footer2__contact {
    font-size: 18px;
  }
}
@media (max-width: 320px) {
  .projects__card {
    width: 220px;
  }

  .footer2__wrap {
    width: 320px;
    padding: 0 2px;
  }
}
@font-face {
  font-family: "Melodrama";
  src: url(/fonts/Melodrama-Medium.ttf);
  src: url(/fonts/Melodrama-Regular.ttf);
  src: url(/fonts/Melodrama-Semibold.ttf);
}
@font-face {
  font-family: "Satoshi Light";
  src: url(/fonts/Satoshi-Light.ttf);
}

/*# sourceMappingURL=style.css.map */
